/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4001)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [ReservationOfFootballStadiums]    Script Date: 19.11.2018 11:32:43 ******/
CREATE DATABASE [ReservationOfFootballStadiums]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ReservationOfFootballStadiums', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\ReservationOfFootballStadiums.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ReservationOfFootballStadiums_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\ReservationOfFootballStadiums_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ReservationOfFootballStadiums].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ReservationOfFootballStadiums]
GO
USE [ReservationOfFootballStadiums]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 19.11.2018 11:32:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StadiumId] [int] NOT NULL,
	[ContactId] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Time] [time](7) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[AdditionalServices] [decimal](4, 2) NOT NULL,
	[TotalPrice] [decimal](4, 2) NOT NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 19.11.2018 11:32:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 19.11.2018 11:32:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[MenCount] [int] NOT NULL,
 CONSTRAINT [PK_Rooms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stadiums]    Script Date: 19.11.2018 11:32:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stadiums](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoomId] [int] NULL,
	[Name] [nvarchar](50) NOT NULL,
	[price] [decimal](4, 2) NOT NULL,
 CONSTRAINT [PK_Stadiums] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([Id], [StadiumId], [ContactId], [Date], [Time], [CreatedAt], [AdditionalServices], [TotalPrice]) VALUES (50, 5, 27, CAST(N'2018-11-30' AS Date), CAST(N'13:00:00' AS Time), NULL, CAST(0.00 AS Decimal(4, 2)), CAST(0.00 AS Decimal(4, 2)))
INSERT [dbo].[Bookings] ([Id], [StadiumId], [ContactId], [Date], [Time], [CreatedAt], [AdditionalServices], [TotalPrice]) VALUES (51, 3, 2, CAST(N'2018-11-30' AS Date), CAST(N'13:00:00' AS Time), NULL, CAST(0.00 AS Decimal(4, 2)), CAST(0.00 AS Decimal(4, 2)))
INSERT [dbo].[Bookings] ([Id], [StadiumId], [ContactId], [Date], [Time], [CreatedAt], [AdditionalServices], [TotalPrice]) VALUES (52, 2, 26, CAST(N'2018-11-30' AS Date), CAST(N'13:00:00' AS Time), NULL, CAST(0.00 AS Decimal(4, 2)), CAST(0.00 AS Decimal(4, 2)))
SET IDENTITY_INSERT [dbo].[Bookings] OFF
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([Id], [Name], [Surname], [Phone], [Email]) VALUES (1, N'Ulvi', N'Ibrahimov', N'0519980797', N'ulviia@code.edu.az')
INSERT [dbo].[Contacts] ([Id], [Name], [Surname], [Phone], [Email]) VALUES (2, N'Kamran', N'Mirzeyev', N'0552669845dgdg', N'kamranme@code.edu.az')
INSERT [dbo].[Contacts] ([Id], [Name], [Surname], [Phone], [Email]) VALUES (26, N'Memmed', N'Memmedov', N'05198', N'memmed@edu.gov.az')
SET IDENTITY_INSERT [dbo].[Contacts] OFF
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([Id], [Name], [MenCount]) VALUES (1, N'Bath A', 10)
INSERT [dbo].[Rooms] ([Id], [Name], [MenCount]) VALUES (2, N'Bath B', 11)
INSERT [dbo].[Rooms] ([Id], [Name], [MenCount]) VALUES (4, N'Bath C', 12)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
SET IDENTITY_INSERT [dbo].[Stadiums] ON 

INSERT [dbo].[Stadiums] ([Id], [RoomId], [Name], [price]) VALUES (2, NULL, N'Novxani', CAST(30.00 AS Decimal(4, 2)))
INSERT [dbo].[Stadiums] ([Id], [RoomId], [Name], [price]) VALUES (3, NULL, N'Baki', CAST(30.00 AS Decimal(4, 2)))
INSERT [dbo].[Stadiums] ([Id], [RoomId], [Name], [price]) VALUES (4, NULL, N'Sumqayit', CAST(30.00 AS Decimal(4, 2)))
SET IDENTITY_INSERT [dbo].[Stadiums] OFF
ALTER TABLE [dbo].[Bookings] ADD  CONSTRAINT [DF_Bookings_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Stadiums] ADD  CONSTRAINT [DF_Stadiums_price]  DEFAULT ((30)) FOR [price]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Contacts] FOREIGN KEY([ContactId])
REFERENCES [dbo].[Contacts] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Contacts]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Stadiums] FOREIGN KEY([StadiumId])
REFERENCES [dbo].[Stadiums] ([Id])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Stadiums]
GO
ALTER TABLE [dbo].[Stadiums]  WITH CHECK ADD  CONSTRAINT [FK_Stadiums_Rooms] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([Id])
GO
ALTER TABLE [dbo].[Stadiums] CHECK CONSTRAINT [FK_Stadiums_Rooms]
GO
USE [master]
GO
